.header {
  display: grid; 
  grid-template-columns: 1fr min-content 1fr;
  text-underline-offset: 240px 24px 29px 786px;
  padding: 24px;
  box-sizing: border-box;
  justify-self: end;
  width: 1052px;
}

.header_menu {
  display: grid; 
  grid-template-columns: 1fr min-content 1fr;
  text-underline-offset: 240px 24px 29px 786px;
  padding: 92px 24px 24px 96px;
  box-sizing: border-box;
  justify-self: end;
  width: 1052px;
}

.header__links-list {
  list-style: circle;
  text-decoration: underline;
  display: flex;
  gap: 67px 21px 44px 26.52px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
}

.header_links-list-item {
  display: grid;
  gap: 13px;
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
  max-height: 100%;
  object-fit: contain;
}

.header_address {
  white-space: nowrap;
}

.cover {
  position: relative;
  background-image: url(../image/cover.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  size: 100px;
  min-height: 757px;
  color: #fff;
  letter-spacing: normal;
  z-index: 0;
  padding: 165px 50px 51px;
  margin-bottom: 180px;
}

.overlay {
  background-color: #000000;
  position: absolute;
  opacity: 60%;
  background: #000000;
  top: 0;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 0;
}

.cover-title {
  text-transform: uppercase;
  position: relative;
  line-height: 1.22;
  font-size: 100px;
  font-weight: 700px;
  z-index: 2;
  line-height: 124px;
  letter-spacing: 0.3em;
  margin: 165px 50px 237px 50px;
  color:#fff;
}

.aligned-text {
  display: block;
  letter-spacing: normal;
  z-index: 2;
}

.aligned-text_center {
  display: block;
  letter-spacing: normal;
  z-index: 2;
}

.aligned-text_right {
  display: block;
  letter-spacing: normal;
   z-index: 2;
}

.letter-spacing-extended {
  letter-spacing: 59px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  bottom: 0;
  align-items: center;
  padding: 0px 50px 51px 78px;
  column-gap: 79px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400px;
  margin-top: 11px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: left;
  word-spacing: 22px;
  color: #fff;
}

.bet-button {
  display: flex;
  justify-content: space-around;
  line-height: 25.83px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px; 
  border: 1px #fff solid;
  color: #fff;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

/*.lots {}

.lots_heading {}

.lots_card-list {}

/* .lots_card-list-item { 
  position: relative;
  background-position: center;
  padding: 51px 40px 48px;
  width: 334px;
  min-height: 563px;
  background-size: cover;
 } */

/*.card-link {}*/

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  line-height: 1.2;
  margin: 25px;
  z-index: 1;
  position: relative;
  background-position: center;
  padding: 52px 40px 48px;
  min-height: 563px;
  background-size: cover;
  background-color: aqua;
}

.card_type_film {
  background-image: url(../image/card-lot-01.jpg);
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
  opacity: 0px;

}

.card_type_book {
  background-image: url(../image/card-lot-02.jpg);
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
  opacity: 0px;
}

.card_type_picture {
  background-image: url(../image/card-lot-03.jpg);
  width: 334px;
  height: 563px;
  top: 74px;
  gap: 0px;
  opacity: 0px;
} 

.card_title {
  font-weight: 700;
  z-index: 2;
  color:#fff;
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  font-size: 22px;
  line-height: 26.4px;
}

.card_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  position: relative;
}

/*.lots_look-more-link {}

.about {}

.about_column {}*/

.about_logo {
  display: block;
  justify-self: left;
  width: 148px;
  height: 114px;
  max-height: 100%;
  object-fit: contain;
}

.about_title {
  size: 40px;
  line-height: 46.96px;
}

.about_text {
  color:#000000;
  size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.footer {
  display: flex;
}

.footer_address {
  white-space: nowrap;
}

.footer_menu {
  display: grid; 
  grid-template-columns: 1fr min-content 1fr;
  text-underline-offset: 240px 24px 29px 786px;    
  padding: 180px 50px 50px 88px;
  box-sizing: border-box;
  justify-self: end;
  width: 1052px;
}

.footer_menu-list {
 
  gap: 185px;
}

.footer_menu-list-item {}*/

.footer_menu-link {
list-style: circle;
text-decoration: underline;
display: flex;
gap: 67px 21px 44px 26.52px;
 color: #000000;
font-size: 18px;
font-weight: 400;
line-height: 21.13px;
text-align: left;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  width: 240px;
  gap:10px;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer_social-list-item {
  width: 48px;
  display: grid;
  gap: 13px;
  list-style: none;
}

.footer_social-link {
  display: block;
  width: 48px;
  height: 100%;
  border-radius: 50%;
}

.footer_social-icon {
  display: flex;
  width: 48px;
  margin: 0 48px 0 0;
  justify-content: space-between;
}